.pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .pagination-wrapper .arrow {
    margin: 0 8px;
    color: #388D95; }
    .pagination-wrapper .arrow:hover {
      cursor: pointer; }
  .pagination-wrapper .pages-wrapper {
    min-width: 9em;
    text-align: center; }
  .pagination-wrapper .page {
    margin: 8px;
    color: white; }
    .pagination-wrapper .page.current {
      cursor: default;
      text-align: center;
      background-color: #c8e7ea;
      color: #388D95;
      padding: 4px;
      min-width: 20px;
      min-height: 20px;
      display: inline-block;
      border-radius: 50%;
      line-height: 20px; }
    .pagination-wrapper .page:hover {
      cursor: pointer; }
  .pagination-wrapper .prev,
  .pagination-wrapper .next {
    margin: 0 8px;
    color: #388D95; }
    .pagination-wrapper .prev:hover,
    .pagination-wrapper .next:hover {
      cursor: pointer; }
