.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & input.algolia-search {
    border-radius: 22px;
    padding: 12px 46px;
    font-size: 1em;
    outline: none;
    border: 0;
    width: 30vw;
    min-width: 12em;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    &::placeholder{
      color: gray;
      font-style: italic;
    }
  }
 
}


.search-icon {
    position: absolute;
    left: 12px;
}

.erasor-icon {
  position: absolute;
  right: 12px;
  &:hover {
    cursor: pointer;
  }
}