.search-panel {
    position: sticky;
    // height: 12em;
    padding: 4em 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #388D95;
    z-index: 2;

    & .count {
      color: #b5dfe3;
      font-style: italic;
      text-decoration: underline;
    }
}